<h3>Chat <i class="fa fa-comment color-acent-own" style="width: 100px;"></i>
</h3>
<hr>

<div class="app-mensajes " id="app-mensajes">
    
    <div class="" *ngFor="let chat of cS.chats" 
    [ngClass]="{'text-end': cS.user.uid == chat.uid}"
    >
        <span class="badge bg-acent-primary"
        [ngClass]="{'bg-acent-primary': cS.user.uid == chat.uid, 
        'bg-acent-secondary': cS.user.uid != chat.uid}"

        >{{chat.name}}</span>
          <p class="mt-2 mx-2"          
          >      
          {{chat.message}}</p>
    </div>

    
</div>

<div class="input-group mt-2" >
  <input type="text" class="form-control" 
  placeholder="Escriba un mensaje"
  [(ngModel)]="message"
  (keyup.enter)="enviarMensaje()"
  >

  <button class="btn btn-acent-primary" type="button" 
  (click)="enviarMensaje()"
  ><i class="fa fa-paper-plane"></i></button>
</div>