<h1>Chat <i class="fa fa-comment color-acent-own" style="width: 100px;"></i>
</h1>
<hr>

<div class="app-mensajes " id="app-mensajes">
    
    <div class="text-end">
        <span class="badge bg-acent-primary">Lewis</span>
        <p>Este es un mensaje</p>
    </div>

    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
    <div>
        <span class="badge bg-acent-secondary">Eiron</span>
        <p>Este tambien es un mensaje</p>
    </div>
</div>

<div class="input-group mt-2" >
  <input type="text" class="form-control" 
  placeholder="Escriba un mensaje"
  [(ngModel)]="message"
  >

  <button class="btn btn-acent-primary" type="button" 
  (click)="enviarMensaje()"
  ><i class="fa fa-paper-plane"></i></button>
</div>