<h3>Chat <i class="fa fa-comment color-acent-own" style="width: 100px;"></i>
</h3>
<hr>

<div class="app-mensajes " id="app-mensajes">
    
    <div class="text-end" *ngFor="let chat of cS.chats" >
        <span class="badge bg-acent-primary">Lewis</span>
        <p class="messages-border mt-2">{{chat.message}}</p>
    </div>

    
    
</div>

<div class="input-group mt-2" >
  <input type="text" class="form-control" 
  placeholder="Escriba un mensaje"
  [(ngModel)]="message"
  >

  <button class="btn btn-acent-primary" type="button" 
  (click)="enviarMensaje()"
  ><i class="fa fa-paper-plane"></i></button>
</div>